@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@700&family=Roboto+Slab:wght@300&display=swap');
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.header {
    width: 100%;
    background-image: url(images/Layer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header_fon {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#e78182f2, #eed889f0);
}
.header_manu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.header_search {
  display: none;
  width: 100%;
  height: 75px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.header_search input {
  width: 60%;
  height: 40px;
  border-radius: 30px;
  outline: none;
  border: none;
  color: #eed889f0;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10%;
  margin-top: 17px;
}
@media screen and (max-width: 710px) {
  .header_search {
    display: inline-block;
  }
}
@media screen and (max-width: 420px) {
  .header_search input {
    height: 35px;
  }
}
.header_logo_text {
    margin-right: 210px;
}
@media screen and (max-width: 1200px) {
  .header_logo_text {
      margin-right: 100px;
      margin-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .header_logo_text {
      margin-right: 50px;
      margin-left: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .header_manu {
    justify-content: flex-start;
  }
}
.menu {
    height: 100%;
    float: left;
}
.search_shop {
    float: left;
    height: 100%;
}
.menu_media{
  height: 57px;
  float: left;
  display: none;
  margin-left: 30px;
}
.fa-bars {
  margin-top: 32px;
  color: white;
  font-size: 20px;
  transition: transform 0.5s linear;
}
.fa-bars:hover, .fa-bars:active {
  transform: rotate(90deg);
  color: #ffebc6;
}

.fa-bars:active + div, .fa-bars:hover + div {
	opacity: 1;
}
.manu_text_1250 {
	opacity: 0;
	position: absolute;
	background-color: #e78182c4;
	border: 2px solid #ffebc6c2;
	line-height: 25px;
	margin-top: 10px;
}
.manu_text_1250 ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
}
.manu_text_1250 ul li a{
	text-decoration: none;
	color: white;
	margin: 0px 10px 0px 10px;
}


@media screen and (max-width: 1050px) {
  .header_manu {
    justify-content: center;
  }
  .menu {
    display: none;
  }
  .menu_media{
    display: inline-block;
  }
}
@media screen and (max-width: 1050px) {
  .header_manu {
    justify-content: center;
  }
}
@media screen and (max-width: 365px) {
  .header_manu {
    justify-content: start;
  }
}
.icon_search {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  transition: 0.5s;
}
.icon_search:active {
  width: 300px;
}
.header_logo_text h1 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    margin: 0;
    margin-top: 20px;
}
.header_logo_text h1:hover {
    color: #eed889f0;
    transition-duration: 0.5s;
}
.menu li {
	list-style: none;
	display: inline-block;
}
.menu ul {
    padding: 0;
}
.menu li a {
	text-decoration: none;
	position: relative;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Montserrat";
	display: block;
	overflow: hidden;
	transition: 0.7s all;
	padding: 20px 20px;
	text-transform: uppercase;
}
.menu li a:before{
	content: '';
	width: 100%;
	position: absolute;
	border-bottom: 3px solid #eed889f0;
  border-radius: 80px;
	bottom: 0;
	right: 200px;
	transition: 0.5s all;
}
.menu li a:hover:before{
	right: 2px;
}
.search_shop img {
    padding-top: 35px;
    margin-left: 22px;
}
.manu_search_block {
  height: 100%;
  margin-left: 50px;
}
@media screen and (max-width: 710px) {
  .manu_search_block {
    display: none;
  }
}
.search {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 60px;
	transition: 0.5s;
	overflow: hidden;
  margin-top: 26px;
}
.search.active {
	width: 230px;
}
.search .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	cursor: pointer;
}
.search .icon::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px solid #ffaa34f0;
	border-radius: 50%;
	transform: translate(-1.5px, -2px);
}
.search .icon::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 6px;
	background-color: #ffaa34f0;
	transform: translate(5px, 5px)rotate(315deg);
}
.search .input {
	position: relative;
	width: 190px;
	height: 30px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search .input input {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 15px;
	padding-right: 20px;
	color: #ffaa34f0;
  font-family: "Kaushan Script";
}
.header_title {
    width: 100%;
}
.header_title_container {
    width: 75%;
    margin: auto;
}
@media screen and (max-width: 1440px) {
  .header_title_container {
    width: 90%;
  }
}
.header_title_container h2 {
    font-size: 72px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin: 0;
    padding-top: 140px;
}
.header_title_container h3 {
    font-size: 145px;
    line-height: 140px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    margin-top: 50px;
}
@media screen and (max-width: 1230px) {
  .header_title_container h2 {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1100px) {
  .header_title_container h2 {
    font-size: 55px;
  }
  .header_title_container h3 {
    font-size: 110px;
  }
}
@media screen and (max-width: 820px) {
  .header_title_container h2 {
    font-size: 40px;
  }
  .header_title_container h3 {
    font-size: 80px;
  }
}
@media screen and (max-width: 520px) {
  .header_title_container h2 {
    font-size: 38px;
  }
  .header_title_container h3 {
    font-size: 65px;
    line-height: 80px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 420px) {
  .header_title_container h2 {
    font-size: 30px;
    padding-top: 30px;
  }
  .header_title_container h3 {
    font-size: 50px;
    line-height: 70px;
  }
}
.title_line {
    width: 75px;
    height: 3px;
    background-color: white;
    margin: 60px auto;
}
.header_title_container .title_btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    width: 160px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #ffffff;
    margin: 0;
    padding: .5em 1em;
    outline: none;
    position: relative;
    cursor: pointer;
    z-index: 1;

}
.title_btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #e28c83ba;
    transition: transform 500ms ease-in-out;
    transform: scale(0);
}

.title_btn:hover::before,
.title_btn:focus::before {
    transform: scale(1);
}

.title_animation {
    width: 100%;
    margin-top: 155px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.title_animation_part {
    width: 260px;
    height: 100%;
    border-top: 3px solid #ffffff;
}
@media screen and (max-width: 1230px) {
  .title_animation {
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title_animation_part {
      width: 370px;
      margin: 10px;
  }
}
.title_anm_prt_line:before {
  width: 100%;
  content: '';
	position: absolute;
  border-top: 3px solid #f38181;
	top: 0;
	right: 400px;
	transition: 0.8s all;
}
.title_anm_prt_line {
  height: 100%;
  position: relative;
	display: block;
	overflow: hidden;
	transition: 0.7s all;
	text-transform: uppercase;
}
.title_anm_prt_line:hover:before{
	right: 0px;
}
.title_anm_prt_line h4 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    margin: 0;
    margin-top: 25px;
}
.body_part1 {
    width: 100%;
    background-color: white;
}
.body_part1_container {
    width: 75%;
    height: 100%;
    margin: auto;
}
@media screen and (max-width: 1300px) {
  .body_part1_container {
      width: 90%;
  }
}
.body_part1_container h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin: 0;
    padding-top: 90px;
}
.body_part1_container h3 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    margin-top: 25px;
}
.body_prt1_cnt_line {
    width: 80px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    margin: 45px auto;
}
.body_part1_container p {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}
.body_prt1_imgs {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .body_prt1_imgs {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.part1_block_bck {
	width: 380px;
	height: 250px;
	background-color: #95e1d3;
	margin-top: 25px;
  margin-left: 25px;
}
@media screen and (max-width: 844px) {
  .part1_block_bck {
    margin-left: 0px;
  }
}
.part1_block_anm {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.part1_block_anm1 {
  background-image: url(images/Layer44.png);
}
.part1_block_anm2 {
  background-image: url(images/Layer39.png);
}
.part1_block_anm3 {
  background-image: url(images/Layer41.png);
}
.part1_block_anm:hover, .part1_block_anm:active {
	transform: translate(-10px, -10px);
	transition-duration: 1.5s;
}
.part1_block_fon {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#e78183c4, #eed889bb);
	opacity: 0;
	text-align: center;
}
.part1_block_fon:hover, .part1_block_fon:active {
	opacity: 1;
}
.part1_block_fon img {
    margin-top: 100px;
}
.part1_block_fon h2 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    padding: 0;
}
.body_part2 {
    width: 100%;
    background-color: #95e1d3;
}
.part2_container {
    width: 72%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.part2_blocks {
    width: 190px;
    height: 270px;
    border-right: 1px solid white;
    transition-duration: 1.5s;
}
.part2_blocks:hover {
    background-color: #58998d;
}
@media screen and (max-width: 1320px){
  .part2_blocks {
    width: 250px;
  }
  .part2_cup {
    border-left: 1px solid white;
  }
}
@media screen and (max-width: 1042px){
  .part2_cup {
    border-left: none;
  }
  .part2_Award, .part2_Menmbers {
    border-left: 1px solid white;
  }
}
@media screen and (max-width: 695px){
  .part2_cup, .part2_happy{
    border-left: 1px solid white;
  }
}
.part2_blocks h2 {
    font-size: 72px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    margin-top: 80px;
}
.part2_blocks p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 15px;
}
.body_part3 {
    height: 650px;
    width: 100%;
    background-color: white;
}
.part3_container {
    width: 75%;
    height: 100%;
    margin: auto;
}
@media screen and (max-width: 1220px) {
  .body_part3 {
    height: 770px;
  }
}
@media screen and (max-width: 945px) {
  .part3_container {
    width: 90%;
  }
}
@media screen and (max-width: 675px) {
  .body_part3 {
    height: 1235px;
  }
}
@media screen and (max-width: 350px) {
  .body_part3 {
    height: 1290px;
  }
}
.part3_container h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin: 0;
    padding-top: 105px;
}
.part3_container h3 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    padding-top: 10px;
}
.prt3_line {
    width: 80px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    margin: 30px auto;
}
.prt3_blocks {
    width: 100%;
    height: 280px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.prt3_block1 {
    height: 50%;
    width: 304px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}
.prt3_block {
    width: 304px;
    margin-top: 30px;
}
@media screen and (max-width: 1215px) {
  .prt3_block {
    border-bottom: 1px solid #e5e5e5;
  }
}
@media screen and (max-width: 675px) {
  .prt3_block1 {
    margin-top: 20px;
  }
}
.prt3_block1 img, .prt3_block img {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}
.prt3_block1 h2, .prt3_block h2 {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
.prt3_block1 p, .prt3_block p {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
.body_part4 {
    height: 850px;
    width: 100%;
    background-image: url(images/Layer45.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 740px) {
  .body_part4 {
    height: 700px;
  }
}
@media screen and (max-width: 350px) {
  .body_part4 {
    height: 650px;
  }
}
.part4_fon {
    height: 100%;
    width: 100%;
    background-color: #d9d9d9de;
}
.part4_container {
    width: 600px;
    height: 100%;
    margin: auto;
    position: relative;
}
.part4_container h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 105px;
}
.part4_container h3 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    margin-top: 25px;
}
@media screen and (max-width: 740px) {
  .part4_container {
    width: 350px;
  }
  .part4_img1 {
    width: 290px;
  }
  .part4_img2 {
    width: 170px;
  }
}
@media screen and (max-width: 350px) {
  .part4_container {
    width: 300px;
  }
  .part4_img1 {
    width: 260px;
    height: 340px;
  }
  .part4_img2 {
    width: 135px;
    height: 210px;
  }
}
.prt4_line {
    width: 80px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    margin: 35px auto;
}
.part4_img1 {
    position: absolute;
    bottom: 0;
    margin: auto;
}
.part4_img2 {
    bottom: -95px;
    right: 0;
    margin: auto;
    position: absolute;
}
.body_part5 {
    width: 100%;
    height: 900px;
    position: relative;
}
@media screen and (max-width: 1266px) {
  .body_part5 {
      height: 1250px;
  }
}
.part5_container {
    width: 75%;
    height: 100%;
    margin: auto;
}
@media screen and (max-width: 1525px) {
  .part5_container {
      width: 90%;
  }
}
.body_part5 h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin: 0;
    padding-top: 110px;
}
.body_part5 h3 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
.prt5_line {
    width: 60px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    margin: 35px auto;
}
.body_part5 p {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
.part5_blocks {
    width: 100%;
    height: 381px;
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.part5_blcok1, .part5_blcok2 {
    width: 570px;
    height: 100%;
}
.part5_blcok1 {
    background-image: url(images/Layer43.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.part5_blcok2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.part5_blcok2_1, .part5_blcok2_3 {
    width: 100%;
    height: 60px;
    border: 1px solid #e5e5e5;
}
.part5_blcok2_2 {
    width: 100%;
    height: 180px;
    border: 1px solid #e5e5e5;
    overflow: auto;
}
.part5_blcok2_3 {
    margin-top: 10px;
}
.part5_blcok2_1 img {
    margin: 14px;
    float: left;
}
.part5_blcok2_1 h2 {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    margin-top: 20px;
    float: left;
}
.part5_blcok2_2 h4 {
    text-align: left !important;
    margin: 10px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
}
.part5_blcok2_3 img {
    margin: 14px;
    padding: 0;
    float: left;
}
.part5_blcok2_3 h2 {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    margin-top: 22px;
    float: left;
}
.body_part6 {
    width: 100%;
    height: 290px;
    background-color: #f8f8f8;
}
.part6_container {
    height: 100%;
    width: 75%;
    margin: auto;
}
@media screen and (max-width: 1200px) {
  .body_part6, .body_part9 {
    display: none;
  }
}
@media screen and (max-width: 1500px) {
  .part6_container {
    width: 90%;
  }
}
.part6_image_border {
    width: 145px;
    height: 145px;
    float: left;
    margin-left: 70px;
    margin-top: 80px;
    border: 3px solid #95e1d3;
    border-radius: 20px;
}
.part6_lorem {
    float: left;
    margin-left: 60px;
    margin-top: 65px;
}
.part6_lorem p {
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    margin: 0;
    margin-top: 20px;
}
.part6_line {
    width: 60px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    float: left;
    margin-top: 20px;
}
.part6_lorem h5 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    margin: 0;
    margin-left: 12px;
    float: left;
}
.body_part7 {
    width: 100%;
    background-color: white;
}
.part7_container {
    height: 100%;
    width: 75%;
    margin: auto;
}
@media screen and (max-width: 1500px) {
  .part7_container {
    width: 90%;
  }
}
.body_part7 h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin: 0;
    margin-top: 90px;
}
.body_part7 h3 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.part7_line {
    width: 60px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    margin: 35px auto;
}
.body_part7 h4 {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
.body_prt7_imgs {
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
@media screen and (max-width: 1215px) {
  .body_prt7_imgs {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.part7_block_bck {
	width: 350px;
	height: 470px;
	background-color: #95e1d3;
	margin-top: 25px;
	margin-left: 25px;
}
@media screen and (max-width: 777px) {
  .part7_block_bck {
  	margin-left: 0px;
  }
}
.part7_block_anm {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.part7_block_anm1 {
  background-image: url(images/Layer16.png);
  background-position: left !important;
}
.part7_block_anm2 {
  background-image: url(images/Layer19.png);
}
.part7_block_anm3 {
  background-image: url(images/Layer18.png);
}
.part7_block_anm:hover, .part7_block_anm:active {
	transform: translate(-10px, -10px);
	transition-duration: 1.5s;
}
.part7_block_fon {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#e78183c4, #eed889bb);
	opacity: 0;
	text-align: center;
}
.part7_block_fon:hover, .part7_block_fon:active {
	opacity: 1;
}
.part7_icon1 {
  margin-left: 82px;
}
@media screen and (max-width: 430px) {
  .part7_icon1 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 355px) {
  .part7_icon1 {
    margin-left: 20px;
  }
}
.part7_icons i{
    float: left;
    background-color: #fce38a;
    width: 55px;
    height: 55px;
    font-size: 28px;
    color: #f38181;
    border-right: 1px solid #f38181;
    padding-top: 13px;
    margin-top: 200px;
}
.part7_icons i:hover {
    color: #ffffff;
    background-color: #f38181;
    transition-duration: 1s;
}
.body_part8 {
  width: 100%;
  background-color: #ffffff;
}
.body_part8 h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin: 0;
    padding-top: 90px;
}
.body_part8 h3 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.part8_line {
    width: 60px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    margin: 35px auto;
}
.body_part8 h4 {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
.part8_blocks {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.part8_block {
  height: 100%;
  width: 780px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.part8_block2, .part8_block3 {
  height: 100%;
  width: 390px;
}
@media screen and (max-width: 1560px) {
  .body_part8 {
    height: 1870px;
  }
  .part8_block {
    width: 1050px;
  }
  .part8_block2, .part8_block3 {
    height: 100%;
    width: 525px;
  }
}
@media screen and (max-width: 525px) {
  .part8_block2, .part8_block3 {
    width: 320px;
  }
}
@media screen and (max-width: 1050px) {
  .body_part8 {
    height: 2590px;
  }
}
.part5_blcok2 {
  position: relative;
}
.part8_block_one, .part8_block_two,
.part8_block_tree, .part8_block_four {
  height: 350px;
  width: 390px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1560px) {
  .part8_block_one, .part8_block_two,
  .part8_block_tree, .part8_block_four {
    width: 525px;
  }
  .part8_block_one {
    background-position: bottom;
  }
}
@media screen and (max-width: 1050px) {
  .part8_block_tree, .part8_block_four {
    display: none;
  }
}
@media screen and (max-width: 525px) {
  .part8_block_one, .part8_block_two {
    width: 320px;
  }
}
.part8_block_one {
  background-image: url(images/Layer26.png);
}
.part8_block_two {
  background-image: url(images/Layer33.png);
}
.part8_block_tree {
  background-image: url(images/Layer35.png);
}
.part8_block_four {
  background-image: url(images/Layer29.png);
}
.part8_block2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/Layer34.png);
  position: relative;
}
.part8_block3_one, .part8_block3_two {
  width: 100%;
  height: 50%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.part8_block3_one {
  background-image: url(images/Layer31.png);
}
.part8_block3_two {
  background-image: url(images/Layer32.png);
}
.part8_hover1 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#e78183c4, #eed889bb);
  position: absolute;
  opacity: 0;
  text-align: center;
}
.part8_hover1:hover, .part8_hover1:active {
  opacity: 1;
}
.part8_hover1 img {
  text-align: center;
  margin-top: 150px;
}
.part8_hovers img {
  margin-top: 300px !important;
}
.part8_hover1 h2 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.part8_hover1 h3 {
  margin: 0;
  margin-top: 6px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  text-align: center;
}
.body_part9 {
  width: 100%;
  height: 335px;
  background-color: #f8f8f8;
}
.part9_container {
    height: 100%;
    width: 75%;
    margin: auto;
}
@media screen and (max-width: 1500px) {
  .part9_container {
    width: 90%;
  }
}
.part9_image_border {
    float: left;
    margin-left: 60px;
    margin-top: 65px;
}
.part9_image_border img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.part9_lorem {
    float: left;
    margin-left: 60px;
    margin-top: 65px;
}
.part9_lorem p {
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    margin: 0;
    margin-top: 20px;
}
.part9_line {
    width: 60px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    float: left;
    margin-top: 20px;
}
.part9_lorem h5 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    margin: 0;
    margin-left: 12px;
    margin-top: 5px;
    float: left;
}
.body_part10 {
  width: 100%;
  background-image: url(images/Layer53.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.part10_fon {
  width: 100%;
  height: 100%;
  background-color: #f7f4f4e8;
}
.part10_container {
  height: 100%;
  width: 75%;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .part10_container {
    width: 99%;
  }
}
.part10_title h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    font-family: "Kaushan Script";
    text-align: center;
    margin: 0;
    padding-top: 90px;
}
.part10_title h3 {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.part10_line {
    width: 60px;
    height: 4px;
    background-color: #f38181;
    border-radius: 10px;
    margin: 35px auto;
}
.part10_blocks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 85px;
}
.part10_block {
  width: 520px;
  height: 200px;
  margin-top: 60px;
}
@media screen and (max-width: 525px) {
  .part10_blocks {
    margin-top: 30px;
  }
  .part10_block {
    height: 275px;
    text-align: center;
  }
}
@media screen and (max-width: 1386px) {
  .part10_block2 {
    margin-top: 60px;
  }
}
.part10_block2 {
  margin-top: 60px;
}
.part10_block img, .part10_block2 img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  float: left;
}
.part10_block_text {
  height: 100%;
  width: 400px;
  margin-left: 15px;
  float: left;
}
@media screen and (max-width: 525px) {
  .part10_block_text {
    margin-left: 0px;
    width: auto;
    height: auto;
  }
  .part10_block img, .part10_block2 img {
    float: none;
  }
  .part10_line2 {
    margin: 10px auto;
  }
}
.part10_block_text h2 {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  margin: 0;
  margin-top: 10px;
}
.part10_block_text h3 {
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  margin: 0;
  margin-top: 7px;
}
.part10_line2 {
  width: 60px;
  height: 4px;
  background-color: #f38181;
  border-radius: 10px;
  margin-top: 15px;
}
.part10_block_text p {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  margin: 0;
  margin-top: 17px;
}
